h1 {
  font-weight: bold;
  font-size: 75px;
  text-align: center;
}

hr {
  height: 2px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 33px;
  text-align: center;
}

div.input {
  text-align: center;
  margin-top: 75px;
  font-size: 30px;
}

div.return {
  margin-top: 80px;
  text-align: center;
}

.b {
  padding: 10px 40px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.b:hover {
  background-color: #b4bdc5;
  /* Change this color for hover effect */
  color: white;
  /* Change text color for hover effect */
}