  h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
  }
  hr {
    height: 2px;
  }
  h2 {
    font-size: 35px;
    text-align: center;
  }
  h3 {
    font-size:33px;
    text-align: center;
  }
  div.input {
    text-align: center;
    margin-top: 75px;
    font-size: 30px;
  }
  div.return {
    margin-top: 80px;
    text-align: center;
  }
  .b {
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 30px;
    border: normal;
    background-color: transparent;
  }

  .button {
      padding: 10px 40px;
      font-size: 20px;
      border-radius: 10px;
      border: none;
      background-color: transparent;
  }

  .button1 {
      padding: 10px 40px;
      font-size: 20px;
      margin-right: 250px;
      border-radius: 10px;
      border: none;
      background-color: transparent;
  }

  .navbar {
      display: flex;
      justify-content: space-around;
      /* Evenly space buttons */
      background-color: #f8f8f8;
      /* Light background for navbar */
      padding: 10px 0;
      /* Add some vertical padding */
      border-bottom: 2px solid #ccc;
      /* Border for the bottom of the navbar */
  }

  .navbar form {
      flex-grow: 1;
      /* Allow forms to grow and fill space */
      text-align: center;
      /* Center align text in buttons */
  }
