h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
}

hr {
    height: 2px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* Evenly space buttons */
    background-color: #f8f8f8;
    /* Light background for navbar */
    padding: 10px 0;
    /* Add some vertical padding */
    border-bottom: 2px solid #ccc;
    /* Border for the bottom of the navbar */
}

.navbar form {
    flex-grow: 1;
    /* Allow forms to grow and fill space */
    text-align: center;
    /* Center align text in buttons */
}
