<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/blogPage.css">
</head>
<body bgcolor="#D9D9D9">
<div class="top">
  <h1>Wiki by Team Anything</h1>
</div>
<div class="navbar">
  <form action="/">
    <button type="submit" class="button">Home</button>
  </form>
  <form action="/users">
    <button type="submit" class="button">Users</button>
  </form>
  <form action="/mypages">
    <button type="submit" class="button">My Pages</button>
  </form>
  {% if session.get('username') %}
    <form action="/logout">
      <button type="submit" class="button">Log Out</button>
    </form>
  {% else %}
    <form action="/login">
      <button type="submit" class="button">Log In</button>
    </form>
  {% endif %}
</div>
<div class="heading">
  <h2>Blog: {{ blog['title'] }}</h2>
  <h3>By: {{ blog['username'] if blog['username'] else 'Unknown Author' }}</h3>
  {% if session['username'] == blog['author'] %}
    <form action="/{{ blog['id'] }}/edit">
      <button type="submit" class="button">Edit this blog</button>
    </form>
  {% endif %}
</div>
<hr width="100%" size="2">
<div class="content">
  <p>{{ blog['content'] }}</p>
</div>
</body>
</html>