<!DOCTYPE html>

<head>
<link rel="stylesheet" href="../css/blogPage.css">
</head>

<body bgcolor="#D9D9D9">
<div class="top">
  <h1>Wiki by Team Anything</h1>
</div>

<div class="navbar">
  <form action="/">
    <button type="submit" class="button">Home</button>
  </form>
  <form action="users.html">
    <button type="submit" class="button">Users</button>
  </form>
  <form action="mypages.html">
    <button type="submit" class="button">My Pages</button>
  </form>
  {% if loggedIn==False %}
    <form action="/login">
      <button type="submit" class="button">Log In</button>
    </form>
  {% else %}
    <form action="/logout">
      <button type="submit" class="button">Log Out</button>
    </form>
  {% endif %}

</div>

<div class="heading">
  <h2>Blog: {{title}}</h2>
  <h3>By: {{author}}</h3>
  {% if {{username}} == {{author}} %}
    <form action="/{{page_id}}/edit">
      <button type="submit" class="button">Edit this blog</button>
    </form>
</div>

<hr width="100%" size="2">

<div class="content">
  <p>{{blog}}</p>
</div>

</body>

</html>