<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Page - Blog by Team Anything</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/editpage.css') }}">
</head>

<body>

  <div class="top">
    <h1>Blog by Team Anything</h1>
  </div>

  <div class="navbar">
    <form action="/">
      <button type="submit" class="button">Home</button>
    </form>
    <form action="/users">
      <button type="submit" class="button">Users</button>
    </form>
    <form action="/mypages">
      <button type="submit" class="button">My Pages</button>
    </form>
    {% if loggedIn == False %}
    <form action="/login">
      <button type="submit" class="button">Log In</button>
    </form>
    {% else %}
    <form action="/logout">
      <button type="submit" class="button">Log Out</button>
    </form>
    {% endif %}
  </div>

  <body>
    <hr>
      <h2>Edit Blog</h2>
    <hr>
      <form action="{{ url_for('edit_blog', page_id=blog['id']) }}" method="post">
          <label for="title" class="t">Title:</label>
          <input type="text" id="title" name="title" value="{{ blog['title'] }}" required>
          <br><br>
          <label for="content" class="c">Content:</label>
          <textarea id="content" name="content" rows="20" cols="50" required>{{ blog['content'] }}</textarea>
          <br><br>
          <button type="submit">Update Blog</button>
      </form>
  </body>

  </html>
