<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href={{ style }}>
    <style>
        h1 {
          font-weight: bold;
          font-size: 75px;
          text-align: center;
        }
        hr {
          height: 2px;
        }
        div.middle {
          text-align: center;
          font-size: 30px;
        }
        div.bottom {
          margin-top: 150px;
          text-align: center;
          font-size: 30px;
        }

      </style>
</head>

<body>
    <header>
        <h1>Wiki by Team Anything</h1>
    </header>
    <hr>
    <div class="middle">
        <form action="home.html">
            <button type="submit" class="button">Home</button>
        </form>
        <form action="users.html">
            <button type="submit" class="button">Users</button>
        </form>
        <form action="mypages.html">
            <button type="submit" class="button">My Pages</button>
        </form>
        <form action="login.html">
            <button type="submit" class="button">Log Out</button>
        </form>
    </div>
    <hr>
    <div class="bottom">
        <h2>Click here to Log in/Sign up!</h2>
        <form action="login.html">
            <button type="submit" class="button">Log in</button>
        </form>
        <form action="signup.html">
            <button type="submit" class="button">Sign Up</button>
        </form>
    </div>
    <br><br><br><br>
    <hr>
</body>
</html>
