<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href={{"../css/home.css"}}>
</head>

<body>
    <header>
        <h1>Wiki by Team Anything</h1>
    </header>
    <hr>
    <div class="middle">
        <form action="/">
            <button type="submit" class="button1">Home</button>
        </form>
        <form action="users.html">
            <button type="submit" class="button1">Users</button>
        </form>
        <form action="mypages.html">
            <button type="submit" class="button1">My Pages</button>
        </form>
        <form action="/login">
            <button type="submit" class="button">Log Out</button>
        </form>
    </div>
    <hr>
    <h2>Click here to Log in/Sign up!</h2>
    <div class="bottom">
        <form action="/login">
            <button type="submit" class="button2">Log in</button>
        </form>
        <form action="/signup">
            <button type="submit" class="button3">Sign Up</button>
        </form>
    </div>
    <br><br><br><br>
    <hr>
</body>

</html>

