<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href={{"../css/login.css"}}>
</head>

<body>
    <header>
        <h1>Wiki By Team Anything</h1>
    </header>
    <hr>
    <div class="login">
      <h2>Log In</h2>
    </div>
    <hr>
    <div class="input">
      <h3>Welcome back!</h3>
      <form action="/" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br></br>
        <label for="password">Password:</label>
        <input type="text" name="password" required>
        <br></br>
        <button type="submit" class="b">Log In</button>
      </form>
      <br></br>
    </div>
    <br></br>
    <hr>
    <div class="return">
      <form action="/">
        <button type="submit">Return Home</button>
      </form>
    </div>
</body>

</html>

