<!DOCTYPE html>
<html lang="en">
<!--
    Anything: tiffanyY jackieZ jessicaY claireS
    SoftDev p5
    Oct/Nov 2024
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Users{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">

    <title>Users</title>
</head>

<body>
    <br></br>
    <header>
        <h1>Blog by Team Anything</h1>
    </header>
    <br></br><br>
    <nav class="navbar">
        <form action="/">
            <button type="submit" class="button1">Home</button>
        </form>
        <form action="/users">
            <button type="submit" class="button1">Users</button>
        </form>
        <form action="/mypages">
            <button type="submit" class="button1">My Pages</button>
        </form>
        <form action="/logout">
            <button type="submit" class="button">Log Out</button>
        </form>
    </nav>
    <hr>
    <div class="middle">
        Users
    </div>
    <hr>

    <ul>
        {% for user in users %}
        <li><a href="{{ url_for('user_pages', user_id=user.id) }}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>

</html>